<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cogni Link</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/ea_symbol.png" style="width: 20px; height: 15px;" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
    <script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- jQuery and jQuery UI JS -->

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Include Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>


    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css')}}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

<!--    SOCKET IO-->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-2">
            <nav class="navbar">
                <a href="{{url_for('data_source')}}" class="navbar-brand mx-2 mb-2">
                    <img class="logo" src="static/img/ea_logo.png" alt="EA Logo">
                </a>
                <div class="navbar-nav">
                    <ul class="navbar-nav">
                        <li><a href="{{url_for('data_source')}}" class="nav-link"><i class="fa fa-database"></i>Data Source</a></li>
                        <li><a href="{{url_for('ask')}}" class="nav-link"><i class="fa fa-question-circle"></i>Ask Question</a></li>
                        <li><a href="{{url_for('summary')}}" class="nav-link"><i class="fa fa-list-alt"></i>Summary</a></li>
                        <li><a href="{{url_for('eda_analysis')}}" class="nav-link"><i class="fa fa-chart-bar"></i>Virtual Analyst</a></li>
                        <li><a href="{{url_for('data_source')}}" class="nav-link"><i class="fa fa-chart-pie"></i>Virtual Data Scientist</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

       
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="{{url_for('data_source')}}" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><img src="static/img/ea_symbol.png" style="width: 40px; height: 35px;"></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <!-- <span class="d-none d-lg-inline-flex">Message</span> -->
                            <span class="d-none d-lg-inline-flex"></span>
                        </a>
                        <div style="display: none;" class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="static/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="static/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="static/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <!-- <span class="d-none d-lg-inline-flex">Notification</span> -->
                            <span class="d-none d-lg-inline-flex"></span>
                        </a>
                        <div style="display: none;" class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-2 me-lg-2" src="static/img/ea_symbol.png" alt="" style="width: 40px; height: 30px;">
                            <span class="d-none d-lg-inline-flex">Admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="{{url_for('logout')}}" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <div class="container-ask mt-2">
                <h2 class="welcome">Virtual Analyst CogniLink!</h2>
                <hr class="dropdown-divider">
            </div>
            
            
            <div id="warningpopup" class="pop_box" style="display: none;">
                <div class="m-box">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
                    <h5>| Welcome to CogniLink |</h5>
                    <div class="form-l"><label ></label></div><br>
                    <div class="dbfile">
                        <p>Your session will expire soon. Do you want to continue?</p>
                        <button class="submitpop" onclick="hideWarning()">Continue</button>
                        <button class="closepop" id="logout" onclick="logout()">Logout</button>
                    </div>
                </div>
            </div>



            <!-- Message Alerts -->
            <div class="flash_msg">
                <div id="message" style="text-align: center;"></div>
                <div id="warning" class="warningtxt" style="display: none;">Warning: Please Choose Source First!</div>
            </div>

            <!-- Ask Form Start -->
            <div class="container-fluid d-flex flex-row">
                <div class="container-fluid d-flex flex-column">
                    <div class="col-lg-12 bg-light rounded p-4 mb-2">
                        <h6 class="mb-2">Explore Your Data with CogniLink</h6>
                        <div class="d-flex flex-row mb-2">
                            <input type="text" class="question form-control" id="question_eda" placeholder="Type your question here!">
                            <button id="recordButton" class="btn1 rounded mx-2"><i class="fa fa-microphone p-1"></i></button>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-center">
                            <div class="button-group mt-2">
                                <button type="button" id="table_container" onclick="table_data_retrieve()" class="btn btn-primary mr-2" style="font-size: 14px;">Select CogniLink Data</button>
                                
                                <!-- HTML for the Popup Modal -->
                                <div id="myModal" class="modal" style="display:none;">
                                    <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <h2>Select File to Load</h2>
                                    <select id="fileList"></select>
                                    <button onclick="loadData()">Load</button>
                                </div>
                            </div>
  
                                <button type="button" id="eda_generate" class="btn btn-primary mr-2" onclick="sendQuestion()" style="font-size: 14px;">Generate</button>
                                <button type="button" id="clarCcvchat" onclick="clearChat()" class="btn btn-primary mr-2" style="font-size: 14px;">Clear Chat</button>
                            </div>
                        </div>
                    </div>
                    <div class="response col-lg-12 bg-light rounded p-4 mb-2">
                        <h6 class="mb-2">Response</h6>
                        <!-- Display a loading image while waiting for the response -->
                        <div class="d-flex align-content-center justify-content-center">
                            <i id="waitImg" class="fa fa-spinner fa-spin" style="display: none; color: var(--primary); font-size: 64px;"></i>
                        </div>
                        <div class="Answer" id="eda_questionAnswer">
                            <!-- Response content will be updated here -->
                        </div>
                        <div id="dataContainer"></div>
                        <div id="eda_graph" style="width:100%;height:500px;"></div>

                        
                    </div>
                </div>
            </div>
                <!-- Charts start -->
                <!--div class="col-lg-4 d-flex flex-column">
                    <div class="box bg-light rounded p-4 mb-2">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <h6>Overall Readiness</h6>
                        </div>
                        <!- <canvas id="readiness_chart"></canvas>
                        <div class="gauge" id="gauge-qa"></div>
                    </div>
                    <div class="box bg-light rounded p-4 mb-2">
                        <div>
                            <div class="d-flex align-items-center justify-content-center mb-2">
                                <h6 class="mb-0">Response Sentiment</h6>
                            </div>
                            <div class="gauge" id="sentiment_chart"></div>
                        <!-<div class="gauge" id="sentiment_chart"></div>>
                        </div>
                    </div>
                    <div class="box bg-light rounded p-4 mb-2">
                        <div>
                            <h6 class="mb-2" style="text-align: center;">Themes & Topics</h6>
                        </div>
                        <div class="theme_topics" id="ldaQAText"></div>
                    </div>
                </div>
            </div-->
            


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="{{url_for('data_source')}}">Cogni Link</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="www.extremumanalytics.com">Extremum Analytics</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/chart/chart.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/file_load_eda.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio_q_a.js') }}"></script>
    <script src="{{ url_for('static', filename='js/eda_audio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/warningpop.js') }}"></script>
</body>

</html>